body{

}
nav{
    display: flex;
    gap: 200px;
    margin-left: 500px;
    margin-top: -50px;
    font-weight: bold;
    font-size: xx-large;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgba(255, 217, 0, 0.753);
    transition: all 0.2s;
}
/* main*/
.about-me{
    padding-left: 10px;
    margin-left: 50%;
    border-radius: 12px;
    box-shadow: 5px 1px 7px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}