
body{
margin: 0;
padding: 0;
}
nav{
    display: flex;
    gap: 200px;
    margin-left: 500px;
    margin-top: -50px;
    font-weight: bold;
    font-size: xx-large;
}
.active{
    color: rgb(255, 136, 0);
    border-bottom: solid;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgba(255, 136, 0);
    transition: all 0.2s;
}
/* main*/
main{
    margin: 80px;
    margin-bottom: -20px;
}
.about-me{
    padding-left: 10px;
    margin-left: 50%;
    height: 170px;
    border-radius: 12px;
    box-shadow: 5px 1px 7px;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*footer*/
footer{
    padding-top: 200px;
}
h2{
    text-align: center;
}
.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 400px;
    gap: 50px;
    list-style: none;
    font-weight: bold;
    font-size: larger;
    margin-top: 50px;
    margin-left: 530px;
}